body {
  background-color: #73a9ae;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

#quote-box {
  height: 250px;
  width: 600px;
  background-color: #fff;
  position: absolute;
  top: 30%;
  left: 42%;
  margin-left: -125px; /* margin is -0.5 * dimension */
  margin-top: -25px;
  border-radius: 2%;

}

#quote {
  margin-bottom: 10px;
  text-align:center;
  font-size: 35px;
  color: #73a9ae


}

#author {
  margin-right:10%;
  margin-bottom: 20px;
  text-align:right;
  font-size: 15px;
  color: #73a9ae
}


.fa {
    padding: 5px;
    width: 20px;
    height: 20px;
    font-size:80px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
    margin-left: 5px;
    margin-top: auto;

}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
     background-color: #73a9ae;
    color: white;
    margin-left: 10%;
}

/* Twitter */
.fa-twitter {
     background-color: #73a9ae;
    color: white;
}

.quote-btn {
  float: right;
  margin-right: 10%;
  margin-top: auto;
  padding: 7px;
  border-radius: 8%;
  color: #fff;
  background-color: #73a9ae
}
