body {
  font-family: Arial;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #333;
  color: #fff;
  font-size: 30px;
  text-align:center;
  padding-top:10px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  
}

.nav li {
    float: right;
    padding: 5px 20px;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

.about {
padding: 20px;
  background-color: #aaa;
  color: #fff;
  font-weight:bolder;
}

.portfolio-images {
  
}

#image1 {
  max-width: 70%;
  margin: auto;
  display: block;
}

.contact {
text-align: center;
}

.footer {

}

